.chat-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 14px;
  align-items: center;
  width: 97vw;
  margin: auto;
}

.message {
  border: 3px solid #0fa3b1;
  border-radius: 8px;
  background-color: #d6d6d6;
  max-width: 240px;
  font-size: 0.85em;
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  position: relative;
  word-break: break-word;
}

.sent .message {
  background-color: white;
}

.sent {
  flex-direction: row-reverse;
}

.sent .message:before, .sent .message:after {
  left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sent .message:after {
  border-color: rgba(15, 163, 177, 0);
	border-left-color: #0fa3b1;
	border-width: 8px;
	margin-top: -8px;
}
.sent .message:before {
	border-color: rgba(15, 163, 177, 0);
	border-left-color: #0fa3b1;
	border-width: 11px;
	margin-top: -12px;
}

.received .message:before, .received .message:after {
  right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.received .message:after {
  border-color: rgba(15, 163, 177, 0);
	border-right-color: #0fa3b1;
	border-width: 8px;
	margin-top: -8px;
}
.received .message:before {
	border-color: rgba(15, 163, 177, 0);
	border-right-color: #0fa3b1;
	border-width: 11px;
	margin-top: -12px;
}

.time-badge time {
  display: block;
  font-size: 0.8em;
}

.received time {
  text-align: right;
}

.sent time {
  text-align: left;
}



.text-input {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 6px;
  width: 95vw;
  margin: auto;
  height: 5.5vh;
}

.chat-input {
  font-size: 1.1em;
  padding: 5px 15px;
  border: 2px solid #0fa3b1;
  border-radius: 10px;
  width: 80vw;
}

.chat {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  bottom: 8vh;
  overflow-y: auto;
  max-height: 82vh;
}

.unseen {
  background-color: #f6f7eb;
  width: 100%;
}

.send-btn {
  background-color: #0fa3b1;
  border-radius: 10px;
  color: white;
  border: 2px solid #0fa3b1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
}