.foto-notification {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.favourite-entry {
    display: flex;
    width: calc((100vw - 28px)/2);
    height: 130px;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 5px 7px;
}

.favourites {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    top: 64px;
    overflow-y: auto;
    max-height: 82vh;
}

.favourites .entries {
    display: flex;
    flex-wrap: wrap;
}

.foto-notification > picture > img {
    height: 64px;
    width: 64px;
    border: 3px solid #0fa3b1;
    border-radius: 8px;
    margin-left: 10px;
}

.favourite-entry .labels {
    margin-left: 10px;
}

.favs-notify {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.favourites div.free, .favourites div.busy {
  bottom: 5px;
}
