a {
  color: #44bba4;
}

.navbar,
.navbar-tab {
  background-color: #393e41;
  color: #f6f7eb;
}

.navbar {
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 14px;
  margin: auto;
}

.navbar ul li {
  padding: 0;
  height: 64px;
  display: flex;
  justify-content: center;
}

.navbar ul li i {
  padding-top: 10px;
}

.n-icon {
  width: 50px;
  height: 50px;
  margin: 7px 0;
  color: #f6f7eb;
}

.n-tab-icon {
  width: 44px;
  height: 44px;
  margin: 5px 0;
}

.logo-btn {
  z-index: 999;
  height: 64px;
  width: 110px;
  text-align: center;
}

.logo-btn-tab {
  z-index: 999;
  height: 54px;
}

.logo {
  height: 80px;
}

.logo-tab {
  height: 60px;
  margin-top: 4px;
}
