.new-password-all {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.new-password-all h2 {
  align-self: flex-start;
  margin-top: 20px;
}

.new-password-all button {
  margin-top: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 150px;
}

.login-form * {
  padding-top: 7px;
}

.login-input {
  width: 300px;
  height: 30px;
  border: 2px solid #0fa3b1;
  border-radius: 10px;
}

.login-label,
.check-label {
  align-self: flex-start;
}

.login-form button {
  width: 304px;
  border: 2px solid #0fa3b1;
  height: 41px;
  border-radius: 10px;
  background-color: #0fa3b1;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  padding: 0px;
}
