.search-tab {
    padding-top: 64px;
    display: flex;
}
.search {
    width: 100%;
    height: 37px;
    border: 2px solid #0fa3b1;
    border-radius: 15px;
    padding: 2px 15px;
    
}
.search :focus {
    outline:none;
}

.search input {
    width: 100%;
    font-size: 1em;
    border: 0px;
}
.chat-list-search {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    overflow-y: auto;
    max-height: 82vh;
  }